body {
  background: white;
  font-family: 'Helvetica', 'Arial';
  color: black;
  font-size: 14px; }

h1 {
  font-size: 40px; }

h2 {
  font-weight: normal;
  margin: 0; }

h3 {
  font-weight: normal;
  font-size: 19px;
  margin: 0;
  margin-top: 15px; }

time {
  font-size: 12px; }

p {
  margin: 10px 0 0 0; }

a {
  color: black; }

.highlight {
  background: #eee;
  margin-top: 15px; }

header {
  margin-top: 50px;
  font-family: 'Bitstream Vera Sans Mono', 'Courier', monospace; }

#header-background {
  width: 0px;
  height: 200px;
  position: absolute;
  top: 20px;
  z-index: -200;
  background: #3197f6; }

nav {
  text-align: right;
  padding-bottom: 20px;
  line-height: 90px;
  vertical-align: bottom;
  height: 70px; }
  nav a {
    padding-left: 15px;
    font-size: 25px; }

section {
  margin-top: 10px;
  min-height: 200px; }

article {
  margin-top: 30px; }
